name: Scalper Bot Routine

on:
  schedule:
    # 08:45 WIB (01:45 UTC) - Pre-market / Start
    - cron: '45 1 * * 1-5'
    
    # 09:00 WIB to 15:45 WIB (02:00 - 08:45 UTC) - Every 15 mins
    - cron: '*/15 2-8 * * 1-5'
    
    # 16:00 WIB (09:00 UTC) - Market Close
    - cron: '0 9 * * 1-5'

  workflow_dispatch: # Supaya bisa di-run manual tombol klik

jobs:
  run-scanner:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests yfinance pandas

    - name: Run Scalper Scanner
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        CORE_API_KEY: ${{ secrets.APP_SECRET_KEY }}
        CORE_API_URL: ${{ secrets.APP_ENDPOINT }}
        CORE_API_HOST: ${{ secrets.APP_HOST }}
      run: python scanner.py
